@use "../partials/variables" as var;
@use "../partials/global" as global;
@use "../partials/global-layout" as global-layout;

.header{
  @extend %l-flex;
  @include global-layout.l-flex-direction-row;
  background-color: var.$bg-color;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  .main-container{
    @extend %l-flex;
    @extend %l-main-container;
    @include global-layout.l-flex-direction-row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .nav__header{
      .nav__logo{
        a{
          img{
            @extend %g-logo-design;
          }
        }
      }
    }
  }
}
