//variables

$bg-color               : #fff;
$layout-bg-color        : #D1B55A;
$main-heading-color     : #fff;
$sub-heading-color      : #000000;
$layout-font-style      : "system-ui", Sans-serif;
$layout-font-size       : 16px;
$hero-img-url-1         : "../../../images/image-006-3.png";
$hero-img-url-2         : "../../../images/four-sec-img.png";
$hero-img-url-3         : "../../../images/seven-sec.png";
$para-color             : #606060;
$layout-res-font-size   : 1rem;

